@import "tailwindcss";

@font-face {
    font-family: 'F25BankPrinterBold';
    src: url('assets/fonts/F25_Bank_Printer_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Terminal';
    src: url('assets/fonts/Terminal F4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
